* {
    margin: 0;
}

img {
    max-width: 75px;
    max-height: 75px;
}

#list {
    display: flex;
}

body {
    background-color: #336699;
}

footer {
    display: flex;
    align-items: center;

    height: 10vh;
    border: 1px;
    margin-top: 10px;
    background-color: #2F4858;
}

header {
    height: 10vh;
    border: 1px;
    margin: 10px;
    background-color: #2F4858;
}