* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    max-width: 75px;
    max-height: 75px;
}

.list {
    display: flex;
}

body {
    background-color: #336699;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 10vh;
    border: 1px;
    margin-top: 10px;
    background-color: #2F4858;
}

header {
    border: 1px;
    margin: 10px;
    background-color: #2F4858;
    font-weight: bold;
}

nav {
    padding: 10px;
}